<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Get Started!</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/auth.css">

</head>
<body>
    <div id="underlay">
        <div id="workspace">
            <div class="left">
                <div id="tabgroup">
                    <button id="register-tab-btn" class="active">Register</button>
                    <button id="login-tab-btn">Log in</button>
                </div>
                <div id="form-container">


                    <form id="registration-form" method="POST" action="register">
                        {% csrf_token %}
                        <div class="fields">
                            <section class="form-desc">
                                Not yet registered on Roommate? Enter your credentials, and we will create an account for you!
                            </section>
                            <input type="email" class="input-box email" placeholder="Email" name="email" autofocus/>
                            <input type="text" class="input-box username" placeholder="Username" name="username"/>
                            <input type="password" class="input-box password" placeholder="Password" name="password"/>
                            <label class="show-password-txt">Show Password</label>
                        </div>

                        <div class="btn-group">
                            <button type="submit" disabled>Register</button>
                        </div>
                    </form>

                    <form id="login-form" class="inactive" method="POST" action="login">
                        {% csrf_token %}
                        <div class="fields">
                            <section class="form-desc">
                                We're so excited to see you again! Enter your credentials, and we will log you in swiftly!
                            </section>
                            <input type="text" class="input-box username" placeholder="Username" name="username" autofocus/>
                            <input type="password" class="input-box password" placeholder="Password" name="password"/>
                            <label class="show-password-txt">Show Password</label>
                        </div>

                        <div class="btn-group">
                            <button type="submit">Log in</button>
                        </div>
                    </form>


                </div>
            </div>
            <div class="right"></div>
        </div>
    </div>
    <script src="../static/js/auth-manager.js"></script>
</body>
</html>