{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roommate</title>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/new-room-dialog.css' %}">

    <script>

        const openChat  = (obj) => {
            let roomid = document.getElementById("open-room-id");
            roomid.value = obj.dataset.roomid;
            roomid.parentElement.submit();
        }

    </script>

</head>
<body>
    <form id="room-opener" method="POST" action="/checkview" style="display: none;">
        {% csrf_token %}
        <input id="open-room-id" type="text" name="open-room-id"/>
    </form>
    <div class="viewport-overlay">
        <div class="workspace">
            <aside class="roomlist">
                <section class="options-area">
                    <section class="left-wrapper">
                        <div class="profile-container">
                            <i class="far fa-user"></i>
                        </div>
                        <span class="app-name">Roommate</span>
                    </section>
                    <button id="more-btn">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                </section>
                
                <section class="rooms-container">
                    {% for room in rooms %}
                    <ul class="roomlist" >
                        <li data-roomid = "{{room.name}}" onclick = "openChat(this)">
                            <section class="room-icon-container">
                                <i class="far fa-comment-dots"></i>
                            </section>
                            <section class="room-detailer">
                                <div class="about-room">
                                    <span class="room-name">{{room.name}}</span>
                                    <span class="timestamp">{{room.time}}</span>
                                </div>
                                <div class="message">Last Message here</div>
                            </section>
                        </li>
                    </ul>
                    {% endfor %}

                    <section style = "width: 100%; height: 100px;"></section>
                </section>
            </aside>
            <aside class="room">
                <script>
                    $(document).ready(function(){
                    
                    setInterval(function(){
                        $.ajax({
                            type: 'GET',
                            url : "/getMessages/{{room1}}/",
                            success: function(response){
                                console.log(response);
                                $("#chat-messages").empty();
                                for (let key in response.messages)
                                {
                                    let temp="<div class='message recieved'><div class='body'>"+response.messages[key].value+"</div><span class='timestamp'>"+response.messages[key].date+"</span></div>";
                                    $("#chat-messages").append(temp);
                                }
                            },
                            error: function(response){
                                alert('An error occured')
                            }
                        });
                    },1000);
                    })
                </script>
                <div class="room-title-bar">
                    Roomname
                </div>
                <div class="chats" id="chat-messages">
                    <div class="message sent"><div class="body">Sent</div><span class="timestamp">00:00AM</span></div>
                    <div class="message recieved"><div class="body">Recieved</div><span class="timestamp">00:00AM</span></div>
                </div>
                <form id="message-input-area" action="/send" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="room_id" id="room_id" value="{room_details.id}">
                    <input type="text" id="message-input" name="message-input" placeholder="Type your message here" />
                    <button type="submit">Send</button>
                </form>
                <script type="text/javascript">
                    $(document).on('submit','#message-input-area',function(e){
                      e.preventDefault();
                  
                      $.ajax({
                        type:'POST',
                        url:'/send',
                        data:{
                            // username:$('#username').val(),
                            room_id:$('#room_id').val(),
                            message:$('#message-input').val(),
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(data){
                            alert(data)
                        },
                        error: function(data){
                            console.log(data)
                        }
                      });
                      document.getElementById('message-input').value = ''
                    });
                  </script>
            </aside>
        </div>
    </div>

    <div id="blurlay" style="display: none;">
        <div id="new-room-dialog" class="hidden">
            <button id = "close-btn" onclick="closeNewRoomDialog()"><i class="fa fa-close"></i></button>
            <div class="title">Create a new room</div>
            <div class="content">Create a room and invite your friends or colleagues to chat in a personalised space!</div>
            <form id="create-room" method="POST" action="create">
                {% csrf_token%}
                <div class="input-container">
                    <input type="text" placeholder="Enter the name for your room" name="room-name-input" id="room-name-input"/>
                </div>
                <div class="error-line" style="display: none;"></div>
                <div class="btn-container">
                    <button id="create-room-btn" type="submit" disabled>Create</button>
                </div>
            </form>
        </div>
    </div>
</body>


<script src="https://kit.fontawesome.com/1857912463.js" crossorigin="anonymous"></script>
<script src="{% static 'js/naming-rules.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/menu-objects.js' %}"></script>
<script src="{% static 'js/menu-manager.js' %}"></script>
<script src="{% static 'js/dialog-manager.js' %}"></script>
<script src="{% static 'js/naming-manager.js' %}"></script>


</html>