@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
    background: rgb(var(--bg));
    color: rgb(var(--strong-fg));
}

#underlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#workspace{
    border: 1px solid rgba(var(--fg), 0.1);
    border-top: 1px solid rgba(var(--strong-fg), 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    background: rgba(var(--strong-bg), 0.6);
}

#workspace div.left{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#tabgroup{
    width: 100%;
    display: flex;
    position: relative;
    height: 50px;
}

#tabgroup button{
    background: transparent;
    border: none;
    color: rgba(var(--pale-fg), 0.8);
    font-family: inherit;
    font-weight: 500;
    font-size: 24px;
    transition: 200ms ease-out;
    cursor: pointer;
    width: 140px;
    height: 50px;
    position: absolute;
    z-index: 100;
    left: 140px;
    text-align: right;
}

#tabgroup button.active, #tabgroup button:hover{
    color: rgb(var(--strong-fg));
    font-weight: 600;
    font-size: 28px;
}

#tabgroup button.active{
    color: rgb(var(--accent-primary));
    font-weight: 700;
    font-size: 30px;
    left: 16px;
    text-align: left;
}

#tabgroup button:focus{
    outline: none;
}

#form-container{
    min-width: 300px;
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#registration-form, #login-form{
    padding: 16px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 200ms ease-out;
    position: absolute;
}

#registration-form.inactive{
    opacity: 0;
    transform: scale(0.8) translateX(-750px);
    z-index: 99;
}

#login-form.inactive{
    opacity: 0;
    transform: scale(0.8) translateX(750px);
    z-index: 99;
}

#form-container section.form-desc{
    margin: 15px 0 30px 0;
}

#form-container .input-box{
    display: block;
    width: 100%;
    background: rgb(var(--strong-bg));
    border: 1px solid rgba(var(--fg), 0.08);
    border-top: 1px solid rgba(var(--strong-fg), 0.15);
    height: 48px;
    color: rgb(var(--strong-fg));
    font-size: 20px;
    padding-left: 12px;
    border-radius: 5px;
    margin-bottom: 12px;
    position: relative;
}

#form-container .input-box.focus{
    border: 2px solid rgb(var(--accent-primary));
    outline: none;
}

#form-container .input-box.invalid{
    border: 1px solid rgba(255, 0, 0, 0.8);
}

#form-container .input-box input{
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: inherit;
    font: inherit;
}

#form-container .input-box.invalid input{
    width: calc(100% - 40px);
}

#form-container .input-box div.invalidity-indicator{
    display: none;
}

#form-container .input-box.invalid div.invalidity-indicator{
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.1);
    color: rgba(255, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#form-container .input-box.invalid div.invalidity-indicator .rel{
    position: relative;
}

#form-container .input-box.invalid div.invalidity-indicator .message{
    position: absolute;
    z-index: 40;
    width: 240px;
    padding: 8px;
    font-weight: normal;
    color: rgba(255, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(var(--fg), 0.1);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(var(--bg), 0.8);
    border-radius: 8px;
    top: 20px;
    right: -10px;
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
    transition: 250ms ease-out;
    pointer-events: none;
}

#form-container .input-box.invalid div.invalidity-indicator .message.tooltipped{
    transform: scale(1);
    opacity: 1;
}

#form-container .input-box input:focus{
    outline: none;
}

#form-container label.show-password-txt{
    float: right;
    color: rgb(var(--accent-primary));
    font-size: 16px;
    cursor: pointer;
}

#login-error-message{
    text-align: center;
    background: rgba(255, 0, 0, 0.03);
    margin: -5px 0 20px 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    color: rgba(255, 0, 0, 0.7);
    border: 1px solid rgba(255, 0, 0, 0.2);
}

#form-container div.btn-group{
    margin-top: 15px;
    text-align: right;
}

#form-container div.btn-group button{
    background: rgb(var(--accent-primary));
    color: rgb(var(--strong-fg));
    border-radius: 6px;
    height: 40px;
    width: 100px;
    border: 1px solid rgba(var(--pale-fg), 0.12);
    border-top: 1px solid rgba(var(--pale-fg), 0.3);
    font-size: 20px;
    transition: 200ms;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#form-container div.btn-group button:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

#form-container div.btn-group button:active{
    transform: translateY(-4px) scale(0.96);
    filter: brightness(50%);
}

#form-container div.btn-group button:focus{
    outline: none;
    border: 1px solid rgb(var(--strong-fg));
}

#form-container div.btn-group button:disabled{
    opacity: 0.5;
    pointer-events: none;
}

#workspace div.right{
    width: 375px;
    border-left: 1px solid rgba(var(--fg), 0.1);
    background: url("../media/auth-sidebanner.png");
    background-size: cover;
    background-position: center;
    border-radius: 0 8px 8px 0;
}

#loader{
    position: fixed;
    height: 120px;
    width: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    display: flex;
    background: rgb(var(--strong-bg), 0.75);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    border: 1px solid rgba(var(--fg), 0.1);
    z-index: 1000;
    transform-origin: bottom;
    transition: 300ms;
    pointer-events: none;
}

#loader.hidden{
    opacity: 0;
    transform: scale(0.3) translateY(-100px);
}

@media only screen and (max-width: 1024px){
    #workspace div.right{
        display: none;
    }
}

